﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.logo {
    max-height: 50px;
}

/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
}

.text-bold {
    font-weight: bold;
}

#customerResult .card-columns>.card {
    min-width: 30rem;
    max-width: 35rem;
}

#customerResult .card-deck>.card {
    min-width: 30rem;
}

.text-short-min {
    min-width: 10rem;
}

.text-short {
    max-width: 20rem;
}

.text-long {
    max-width: 60rem;
}

.modal-fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    padding: 0 !important;
    max-width: 100%;
}

.modal-fullscreen .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}

.modal-fullscreen .modal-body {
    overflow-y: auto;
}


.list-group-item:last-child {
    border-bottom: none;
}

.numeric {
    text-align: right;
    min-width: 60px;
}

.full-address {
    min-width: 120px;
}

.tracking-number {
    min-width: 120px;
}

.status-name {
    min-width: 80px;
}

.actions {
    min-width: 40px;
}